/*
==============================
	2nd Page Container Mask
==============================
*/
.mask {
  background-color: $black;
  height: 280px;
  position: relative;
  @include breakpoint(desktopLaptop) {
    width: 100%;
  }
  @include breakpoint(desktopmini) {
    width: 100%;
  }
  @include breakpoint(tablet) {
    width: 100%;
  }
  @include breakpoint(mobile) {
    width: 100%;
  }

  aside {
    left: 50px;
    position: absolute;
    top: 27px;
    @include breakpoint(tablet) {
      left: 20px;
    }
    @include breakpoint(mobile) {
      left: 20px;
    }
    a {
      color: $white;
      font-size: 14px;
      opacity: .75;
      @include breakpoint(tablet) {
        font-size: 14px;
      }
      @include breakpoint(mobile) {
        font-size: 12px;
      }

      img {
        height: 18px;
        margin-bottom: 2px;
        margin-right: 6px;
        vertical-align: middle;
        width: 18px;
        @include breakpoint(tablet) {
          height: 14px;
          width: 14px;
        }
        @include breakpoint(mobile) {
          height: 12px;
          width: 12px;
        }
      }
    }
  }

  div {
    color: $white;
    left: 260px;
    position: absolute;
    top: 96px;
    @include breakpoint(desktopLaptop) {
      left: 0;
      width: 100%;
    }
    @include breakpoint(desktopmini) {
      left: 0;
      width: 100%;
    }
    @include breakpoint(tablet) {
      left: 0;
      width: 100%;
    }
    @include breakpoint(mobile) {
      left: 0;
      width: 100%;
    }

    h1 {
      color: $white;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 46px;
      letter-spacing: normal;
      margin-bottom: 7px;
      text-align: center;
      @include breakpoint(tablet) {
        font-size: 32px;
      }
      @include breakpoint(mobile) {
        font-size: 26px;
      }
    }

    p {
      color: $white;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      letter-spacing: normal;
      text-align: center;
      @include breakpoint(tablet) {
        font-size: 16px;
      }
      @include breakpoint(mobile) {
        font-size: 14px;
      }
    }
  }
}
  