/*
=================================
	Contact-Section
=================================
*/

.contacts {
  background-color: $white;
  height: 326px;

  .contact-info {
    background-color: $purple;
    height: 246px;
    left: 50px;
    position: relative;
    top: 40px;
    width: 1180px;
    @include breakpoint(desktopLaptop) {
      left: 0;
      width: 100%;
    }
    @include breakpoint(desktopmini) {
      left: 0;
      width: 100%;
    }
    @include breakpoint(tablet) {
      left: 0;
      width: 100%;
    }
    @include breakpoint(mobile) {
      left: 0;
      width: 100%;
    }

    h5 {
      color: $white;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 24px;
      left: 500px;
      letter-spacing: normal;
      position: absolute;
      text-align: center;
      top: 55px;
      @include breakpoint(desktopLaptop) {
        height: 100%;
        left: 0;
        width: 100%;
      }
      @include breakpoint(desktopmini) {
        height: 100%;
        left: 0;
        width: 100%;
      }
      @include breakpoint(tablet) {
        height: 100%;
        left: 0;
        width: 100%;
      }
      @include breakpoint(mobile) {
        height: 100%;
        left: 0;
        width: 100%;
      }
    }

    span {
      color: $white;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      left: 430px;
      letter-spacing: normal;
      line-height: 1.5;
      position: absolute;
      right: 426px;
      text-align: center;
      top: 92px;
      @include breakpoint(desktopLaptop) {
        height: 100%;
        left: 0;
        padding: 20px;
        width: 100%;
      }
      @include breakpoint(desktopmini) {
        height: 100%;
        left: 0;
        padding: 20px;
        width: 100%;
      }
      @include breakpoint(tablet) {
        height: 100%;
        left: 0;
        padding: 20px;
        width: 100%;
      }
      @include breakpoint(mobile) {
        height: 100%;
        left: 0;
        padding: 20px;
        width: 100%;
      }
    }

    div {
      left: 530px;
      position: absolute;
      text-align: center;
      top: 150px;
      @include breakpoint(desktopLaptop) {
        height: 100%;
        left: 0;
        padding-top: 40px;
        width: 100%;
      }
      @include breakpoint(desktopmini) {
        height: 100%;
        left: 0;
        padding-top: 40px;
        width: 100%;
      }
      @include breakpoint(tablet) {
        height: 100%;
        left: 0;
        padding-top: 40px;
        width: 100%;
      }
      @include breakpoint(mobile) {
        height: 100%;
        left: 0;
        padding-top: 40px;
        width: 100%;
      }

      a {
        border: 2px solid $white;
        border-radius: 5px;
        color: $white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 7px 27px 7px 28px;
        text-align: center;
      }
    }
  }
}
