/*
=================================
	Explanation Part
=================================
*/
.explanation {
  position: relative;
  background-color: $grey;
  p {
    width: 730px;
    font-family: 'Source Sans Pro', sans-serif;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 40px;
    @include breakpoint(desktopmini) {
      margin-top: 20px;
      width: 100%;
    }
    @include breakpoint(tablet) { 
      margin-top: 20px;
      width: 100%;
    }
    @include breakpoint(mobile) { 
      margin-top: 20px;
      width: 100%;
    }
  }
  aside {
    position: absolute;
    right: 59px;
    top: 0px;
    @include breakpoint(desktopLaptop) {
      margin-top: 40px;
      right: 0px;
      margin-bottom: 30px;
      display: inline;
    }
    @include breakpoint(desktopmini) {
      margin-top: 50px;
      right: 0px;
      margin-bottom: 30px;
      display: inline;
    }
    @include breakpoint(tablet) { 
      margin-top: 50px;
      right: 0px;
      margin-bottom: 30px;
      display: inline;
    }
    @include breakpoint(mobile) {
      margin-top: 50px;
      right: 0px;
      margin-bottom: 30px;
      display: inline;
    }
    h5 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      margin-bottom: 15px;
      @include breakpoint(desktopmini) { 
        margin-bottom: 5px;
        margin-left: 18px;
      }
      @include breakpoint(tablet) { 
        margin-left: 18px;
        margin-bottom: 5px;
      }
      @include breakpoint(mobile) { 
        margin-bottom: 5px;
      }
    }
    a {
      img {
        display: block;
        width: 36px;
        height: 36px;
        margin-bottom: 15px;
        &:hover {
          opacity: 0.75;
        }
        @include breakpoint(desktopmini) { 
          right: 0px;
          margin-left: 20px;
          display: block;
          margin-bottom: 5px;
        }
        @include breakpoint(tablet) { 
          right: 0px;
          margin-left: 20px;
          display: block;
          margin-bottom: 5px;
        }
        @include breakpoint(mobile) { 
          top: 0px;
          left: 0px;
          display: block;
          margin-bottom: 5px;
        }
      }
    }      
  }
}
    