/*
==============================
    Back to top button
==============================
*/
.backtotop {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 150px;
  transform: scale(0.9);
  @include breakpoint(desktopLarge) {
	display: none;
  }
  @include breakpoint(desktopLaptop) {
    display: none;
  }
  @include breakpoint(desktopmini) {
    display: none;
  }
  @include breakpoint(tablet) { 
	display: none;
  }
  @include breakpoint(mobile) { 
	display: none;
  }
}
.backtotop:hover {
  transform: scale(1);
  transition-duration: 1.5s;
  
}
