/*
==============================
    Back to top button
==============================
*/
.backtotop {
  bottom: 20px;
  height: 60px;
  position: fixed;
  right: 150px;
  transform: scale(.9);
  width: 60px;
  @include breakpoint(desktopLarge) {
    display: none;
	}
  @include breakpoint(desktopLaptop) {
    display: none;
  }
  @include breakpoint(desktopmini) {
    display: none;
  }
  @include breakpoint(tablet) {
    display: none;
  }
  @include breakpoint(mobile) {
    display: none;
  }

  :hover {
    transform: scale(1);
    transition-duration: 1.5s;
  }
}
