/*
===============================
	Submit info and button
===============================
*/
.row {
  .wrapper {
    display: inline-block;
    margin: -70px 0 0;
    width: 400px;
    @include breakpoint(desktopLaptop) {
      
    }
    @include breakpoint(desktopmini) {
      margin: auto;
    }
    @include breakpoint(tablet) {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      width: 320px;
    }
    @include breakpoint(mobile) {
      margin-top: 20px;
    }

    .support {
      display: inline-block;

      ul {
        margin-bottom: 70px;

        li {
          color: $purple;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }

    aside  {
      color: $black;
      display: inline-block;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      line-height: 1.2;
      margin: 20px 0;
      width: 360px;
      @include breakpoint(mobile) {
        width: 300px;
      }

      a {
        color: $purple;
      }
    }

    .btn {
      display: inline-block;
      margin: 0;

      div {
        margin-bottom: 20px;
      }

      input {
        background-color: $purple;
        border: 1px solid $purple;
        border-radius: 5px;
        color: $white;
        cursor: pointer;
        display: inline-block;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: normal;
        padding: 10px 38px;
        text-align: center;
        width: 120px;
      }

      small {
        color: $black;
        display: inline-block;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        margin: 14px 0 0 12px;
        opacity: .7;
        vertical-align: top;

        span {
          color: $red;
        }
      }
    }
  }
}
