/*
=================================
	Grid Section
=================================
*/
.teaser {
  background-color: $darkGrey;
  @include breakpoint(desktopmini) {
    height: 100%;
    width: 100%;
  }
  @include breakpoint(tablet) {
    height: 100%;
    width: 100%;
  }
  @include breakpoint(mobile) {
    height: 100%;
    width: 100%;
  }

  h5 {
    color: $white;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin: 60px 414px 0;
    text-align: center;
    @include breakpoint(desktopLaptop) {
      height: 100%;
      margin-left: 0;
      width: 100%;
    }
    @include breakpoint(desktopmini) {
      height: 100%;
      margin-left: 0;
      width: 100%;
    }
    @include breakpoint(tablet) {
      height: 100%;
      margin-left: 0;
      width: 100%;
    }
    @include breakpoint(mobile) {
      height: 100%;
      margin-left: 0;
      width: 100%;
    }
  }

  .grid {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 900px;
    @include breakpoint(desktopmini) {
      height: 100%;
      justify-content: space-around;
      margin: 0 auto;
      width: 100%;
    }
    @include breakpoint(tablet) {
      height: 100%;
      justify-content: space-around;
      margin: 0 auto;
      width: 100%;
    }
    @include breakpoint(mobile) {
      display: block;
      padding: 20px;
    }

    .col-1-3 {
      background-color: $white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
      display: flex;
      flex: 1;
      flex-flow: column;
      height: 393px;
      justify-content: space-between;
      margin-bottom: 40px;
      max-width: 32%;
      order: 1;
      @include breakpoint(tablet) {
        margin-bottom: 20px;
      }
      @include breakpoint(mobile) {
        max-width: 100%;
      }

      h6 {
        color: $black;
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        letter-spacing: normal;
        padding: 10px 0 0 10px;
      }

      span {
        color: $black;
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 1.5;
        padding: 0 10px;
      }

      a {
        border: 2px solid $black;
        border-radius: 5px;
        color: $black;
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-left: 15px;
        padding: 7px 17px 7px 18px;
        text-decoration: none;
        width: 130px;
        @include breakpoint(desktopmini) {
          margin-bottom: 20px;
        }
      }

      img {
        display: flex;
        width: 100%;
      }
    }

    .col-2-3 {
      background-color: $white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
      display: flex;
      flex: 1;
      flex-flow: column;
      height: 393px;
      justify-content: space-between;
      margin-bottom: 40px;
      max-width: 32%;
      order: 1;
      @include breakpoint(tablet) {
        margin-bottom: 20px;
      }
      @include breakpoint(mobile) {
        max-width: 100%;
      }

      h6 {
        color: $black;
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        letter-spacing: normal;
        padding: 10px 0 0 10px;
      }

      span {
        color: $black;
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 1.5;
        padding: 0 10px;
      }

      a {
        border: 2px solid $black;
        border-radius: 5px;
        color: $black;
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-left: 15px;
        padding: 7px 17px 7px 18px;
        text-decoration: none;
        width: 130px;
        @include breakpoint(desktopmini) {
          margin-bottom: 20px;
        }
      }

      img {
        display: flex;
        max-height: 50%;
        width: 100%;
      }
    }

    .col-3-3 {
      background-color: $white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
      display: flex;
      flex: 1;
      flex-flow: column;
      height: 393px;
      justify-content: space-between;
      margin-bottom: 40px;
      max-width: 32%;
      order: 1;
      @include breakpoint(tablet) {
        margin-bottom: 20px;
        width: 100%;
      }
      @include breakpoint(mobile) {
        max-width: 100%;
      }

      h6 {
        color: $black;
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        letter-spacing: normal;
        padding: 10px 0 0 10px;
      }

      span {
        color: $black;
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 1.5;
        padding: 0 10px;
      }

      a {
        border: 2px solid $black;
        border-radius: 5px;
        color: $black;
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 7px 17px 7px 18px;
        text-decoration: none;
        width: 130px;
        margin-left: 15px;
        margin-bottom: 20px;
        @include breakpoint(desktopmini) {
          margin-bottom: 20px;
        }
      }

      img {
        display: flex;
        max-height: 50%;
        width: 100%;
      }
    }
  }
}


