/*
=================================
	Primary-header
=================================
*/
.container {
  background-color: $white;
  margin: 0 auto;
  width: 1280px;

  a {
    text-decoration: none;

    &:hover {
      opacity: .7;
    }
  }
}

.primary-header {
  background-color: $white;
  margin: 0 auto;
  width: 1280px;
  @include breakpoint(desktopLaptop) {
    background-color: $white;
    width: 100%;
  }
  @include breakpoint(desktopmini) {
    background-color: $white;
    width: 100%;
  }
  @include breakpoint(tablet) {
    background-color: $white;
    width: 100%;
  }
  @include breakpoint(mobile) {
    background-color: $white;
    width: 100%;
  }
}

.navbar-top {
  background-color: $white;
  border-bottom: 1px solid #e4e4e4;
  font-size: 0;
  position: sticky;
  top: 0;

  ul {
    background-color: $white;

    li {
      display: inline-block;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 12px;
      left: 870px;
      letter-spacing: 0;
      padding: 7px 30px 8px 0px;
      position: relative;
      @include breakpoint(desktopLaptop) {
        display: inline;
        left: 10px;
        width: 100%;
      }
      @include breakpoint(desktopmini) {
        display: inline;
        left: 10px;
        width: 100%;
      }
      @include breakpoint(tablet) {
        display: inline;
        left: 10px;
        width: 100%;
      }
      @include breakpoint(mobile) {
        display: inline;
        left: 10px;
        width: auto;
      }

      .dropdownicon {
        &::before {
          @include arrow(down, $black, 2);
          background: $white;
          content: '';
          position: absolute;
          right: 17px;
          top: 12px;
        }
      }

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          opacity: .7;
        }
      }
    }
  }
}
a {
  width: 100%;

  .logo {
    width: 100%;

    img {
      background-color: $white;
      float: left;
      line-height: 60px;
      margin: 15px 30px 15px 50px;
      width: 177px;
      @include breakpoint(desktopmini) {
        display: block;
      }
      @include breakpoint(tablet) {
        display: inline-block;
        height: 50px;
        margin: 15px 0;
        width: 90px;
      }
      @include breakpoint(mobile) {
        display: inline-block;
        height: 50px;
        margin: 15px 0;
        width: 90px;
      }
    }
  }
}

.navbar-bottom {
  background-color: $white;
  position: relative;
  @include breakpoint(desktopmini) {
    background-color: $white;
    display: inline-block;
    height: 100%;
  }
  @include breakpoint(tablet) {
    background-color: $white;
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  @include breakpoint(mobile) {
    background-color: $white;
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  ul {
    background-color: $white;
    @include breakpoint(desktopmini) {
      left: 0;
      width: 100%;
    }
    @include breakpoint(tablet) {
      left: 0;
      width: 100%;
    }
    @include breakpoint(mobile) {
      left: 0;
      width: 100%;
    }

    li {
      display: inline-block;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      font-weight: 400;
      margin: 40px 35px 37px 20px;
      position: relative;
      @include breakpoint(desktopmini) {
        display: inline-block;
      }
      @include breakpoint(tablet) {
        display: inline-block;
      }
      @include breakpoint(mobile) {
        display: inline-block;
        font-size: 12px;
        margin: 40px 5px 37px;
      }

      a {
        color: $black;
      }

      .arrow {
        color: $black;

        &::before {
          @include arrow(down, $black , 2.5);
          background: $white;
          content: '';
          margin-right: -14px;
          position: absolute;
          right: 0;
          top: 6px;
          @include breakpoint(mobile) {
            @include arrow(down, $black , 1.5);
            right: 5px;
            top: 5px;
          }
        }
      }
    }

    .searchbutton {
      position: absolute;
      right: 30px;
      top: 33px;
      width: 50px;
      @include breakpoint(desktopmini) {
        display: block;
        right: 0;
      }
      @include breakpoint(tablet) {
        display: block;
        right: 0;
      }
      @include breakpoint(mobile) {
        right: 0;
        top: 10px;
      }

      img {
        height: 24px;
        width: 24px;
        @include breakpoint(tablet) {
          height: 18px;
          width: 18px;
        }
        @include breakpoint(mobile) {
          height: 14px;
          width: 14px;
        }
      }
    }
  }
}

