/*
=================================
	Main Section
=================================
*/
.container {
  background-color: $grey;
  margin: 0 auto;
  width: 1280px;
  @include breakpoint(desktopLaptop) {
    overflow: hidden;
    width: 100%;
  }
  @include breakpoint(desktopmini) {
    overflow: hidden;
    width: 100%;
  }
  @include breakpoint(tablet) {
    overflow: hidden;
    width: 100%;
  }
  @include breakpoint(mobile) {
    overflow: hidden;
    width: 100%;
  }

  blockquote {
    background-color: $grey;
    color: $black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    letter-spacing: normal;
    line-height: 32px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    text-indent: -35px;
    width: 660px;
    @include breakpoint(desktopmini) {
      margin-left: 20px;
      padding: 20px;
      width: 100%;
    }
    @include breakpoint(tablet) {
      margin-left: 20px;
      padding: 20px;
      width: 100%;
    }
    @include breakpoint(mobile) {
      margin-left: 20px;
      padding: 20px;
      width: 100%;
    }

    img {
      height: 24px;
      width: 30px;
      @include breakpoint(desktopmini) {
        margin-left: 20px;
      }
      @include breakpoint(tablet) {
        margin-left: 20px;
      }
      @include breakpoint(mobile) {
        margin-left: 20px;
      }
    }
  }

  p {
    color: $black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 10px;
    width: 730px;
    @include breakpoint(desktopmini) {
      padding: 30px;
      width: 100%;
    }
    @include breakpoint(tablet) {
      padding: 30px;
      width: 100%;
    }
    @include breakpoint(mobile) {
      padding: 30px;
      width: 100%;
    }
  }

  h2,
  h3 {
    color: $black;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    letter-spacing: normal;
    margin: 40px 745px 15px 275px;
    width: 260px;
    @include breakpoint(desktopmini) {
      margin-left:  20px;
      width: 100%;
    }
    @include breakpoint(tablet) {
      margin-left:  20px;
      width: 100%;
    }
    @include breakpoint(mobile) {
      margin-left: 20px;
      width: 100%;
    }
  }

  .main {
    @include breakpoint(desktopmini) {
      margin-left:  20px;
      width: 100%;
    }
    @include breakpoint(tablet) {
      margin-left:  20px;
      width: 100%;
    }
    @include breakpoint(mobile) {
      margin-left: 20px;
      width: 100%;
    }

    p {
      color: $black;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: normal;
      line-height: 1.5;
      margin: 0 auto;
      width: 730px;
    }
  }

  .upper-tags {
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 20px;
    width: 730px;
    @include breakpoint(desktopmini) {
      margin-left:  20px;
      padding: 20px;
      width: 100%;
    }
    @include breakpoint(tablet) {
      margin-left:  20px;
       padding: 20px;
      width: 100%;
    }
    @include breakpoint(mobile) {
      margin-left: 20px;
      padding: 20px;
      width: 100%;
    }

    li {
      color: $black;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: normal;
      list-style-type: disc;
      padding: 5px;

      span {
        color: $black;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 1.5;
      }
    }
  }

  .bitmap {
    margin: 0 auto;
    margin-top: 40px;
    width: 880px;
    @include breakpoint(desktopmini) {
      margin-left: 0;
      width: 100%;
    }
    @include breakpoint(tablet) {
      margin-left: 0;
      width: 100%;
    }
    @include breakpoint(mobile) {
      margin-left: 0;
      width: 100%;
    }

    img {
      height: 496px;
      width: 880px;
      @include breakpoint(desktopmini) {
        padding: 0;
        width: 100%;
      }
      @include breakpoint(tablet) {
        padding: 0;
        width: 100%;
      }
      @include breakpoint(mobile) {
        padding: 0;
        width: 100%;
      }
    }

    figcaption {
      margin-top: 20px;
      @include breakpoint(desktopmini) {
        padding-left: 10px;
      }
      @include breakpoint(tablet) {
        padding-left: 10px;
      }
      @include breakpoint(mobile) {
        font-size: 14px;
        padding-left: 10px;
      }
    }
  }

  .video {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 880px;
    @include breakpoint(desktopmini) {
      margin-left: 0;
      width: 100%;
    }
    @include breakpoint(tablet) {
      margin-left: 0;
      width: 100%;
    }
    @include breakpoint(mobile) {
      margin-left: 0;
      width: 100%;
    }
  }
}
