/*
=================================
	Representative Part
=================================
*/
.hero {
  background-image: url('../images/back.jpg');
  color: $white;
  height: 480px;
  position: relative;
  @include breakpoint(desktopLaptop) {
    display: inline-block;
    width: 100%;
  }
  @include breakpoint(desktopmini) {
    display: inline-block;
    width: 100%;
  }
  @include breakpoint(tablet) {
    display: inline-block;
    width: 100%;
  }
  @include breakpoint(mobile) {
    display: inline-block;
    width: 100%;
  }

  a {
    color: $white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-weight: 400;
    left: 50px;
    letter-spacing: .05em;
    line-height: normal;
    opacity: .8;
    position: relative;
    top: 27px;
    @include breakpoint(desktopmini) {
      display: inline-block;
      width: 100%;
    }
    @include breakpoint(tablet) {
      display: inline-block;
      width: 100%;
    }
    @include breakpoint(mobile) {
      display: inline-block;
      width: 100%;
    }

    img {
      height: 18px;
      margin-right: 3px;
      vertical-align: bottom;
      width: 18px;
    }
  }

  h1 {
    color: $white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 46px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    left: 350px;
    letter-spacing: 1px;
    line-height: normal;
    margin: 0 auto;
    position: absolute;
    right: 350px;
    text-align: center;
    top: 153px;
    width: 580px;
    @include breakpoint(desktopLaptop) {
      display: inline-block;
      font-size: 46px;
      left: 0;
      padding: 0 40px 40px;
      width: 100%;
    }
    @include breakpoint(desktopmini) {
      display: inline-block;
      font-size: 46px;
      left: 0;
      padding: 0 40px 40px;
      width: 100%;
    }
    @include breakpoint(tablet) {
      display: inline-block;
      font-size: 32px;
      left: 0;
      padding: 0 40px 40px;
      width: 100%;
    }
    @include breakpoint(mobile) {
      display: inline-block;
      font-size: 28px;
      left: 0;
      padding: 0 40px 40px;
      width: 100%;
    }
  }

  .avatar {
    position: relative;
    top: 380px;

    ul {
      font-family: 'Source Sans Pro', sans-serif;
      left: 100px;
      position: absolute;
      top: 5px;

      img {
        height: 14px;
        margin-left: 3px;
        position: absolute;
        top: 3px;
        width: 14px;
      }
    }

    li {
      margin-bottom: 8px;

      &:last-child {
        color: #e4e4e4;
        font-size: 16px;
      }
    }

    aside {
      img {
        border-radius: 50%;
        height: 55px;
        left: 40px;
        position: absolute;
        width: 55px;
      }
    }
  }
}
